:root {
  --first-color: #e7eaf6;
  --second-color: #a2a8d3; 
  --third-color: #5f83ba; 
  --fourth-color: #2a5e8b; 
  --general-shadow: 0 10px 10px rgba( 0, 0, 0, 0.1);
  --general-font: 'Averia Libre', cursive;
  --general-border: 8px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--second-color);
}

